RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#TrangChu
RewriteRule trang-chu index.php
RewriteRule dang-xuat pages/pages_logout.php
RewriteRule ^([a-zA-Z_-]+)$ index.php?Lady=$1

#QuanLy
RewriteRule ^chinh-sua-dich-vu/([a-zA-Z0-9_-]+)$ index.php?Lady=chinh-sua-dich-vu&id=$1
RewriteRule ^chinh-sua-thanh-vien/([a-zA-Z0-9_-]+)$ index.php?Lady=chinh-sua-thanh-vien&id=$1
RewriteRule ^chinh-sua-ngan-hang/([a-zA-Z0-9_-]+)$ index.php?Lady=chinh-sua-ngan-hang&id=$1